* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    --center_x: -7px;
    --center_y: -12px;
}

body {
    background-color: cornflowerblue;
}

main {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.clock  {
    min-width: 600px;
    min-height: 600px;
    background-color: #f0f8ff;
    border-radius: 300px;
    border: 15px groove #333;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    width: 0;
    height: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
        
    
}

 .number-1 {
    transform: translate(calc(var(--center_x) + 270px * 0.5),calc(var(--center_y) - 270px * .866));     
}

 .number-2 {
    transform: translate(calc(var(--center_x) + 270px * 0.866),calc(var(--center_y) - 270px * .5)); 
}

.number-3 {
    transform: translate(calc(var(--center_x) + 270px * 1),calc(var(--center_y) - 270px * 0)); 
}

.number-4 {
    transform: translate(calc(var(--center_x) + 270px * 0.866),calc(var(--center_y) + 270px * 0.5)); 
}

.number-5 {
    transform: translate(calc(var(--center_x) + 270px * 0.5),calc(var(--center_y) + 270px * 0.866)); 
}

.number-6 {
    transform: translate(calc(var(--center_x) + 270px * 0),calc(var(--center_y) + 270px * 1)); 
}

.number-7 {
    transform: translate(calc(var(--center_x) - 270px * 0.5),calc(var(--center_y) + 270px * 0.866)); 
}

.number-8 {
    transform: translate(calc(var(--center_x) - 270px * 0.866),calc(var(--center_y) + 270px * 0.5)); 
}

.number-9 {
    transform: translate(calc(var(--center_x) - 270px * 1),calc(var(--center_y) + 270px * 0)); 
}

.number-10 {
    transform: translate(calc(var(--center_x) - 270px * 0.866),calc(var(--center_y) - 270px * 0.5)); 
}

.number-11 {
    transform: translate(calc(var(--center_x) - 270px * 0.5),calc(var(--center_y) - 270px * 0.866)); 
} 

.number-12 {    
    transform: translate(calc(var(--center_x) + 270px * 0),calc(var(--center_y) - 270px * 1)); 
}

.second-hand {
    width: 5px;
    height: 240px;
    background-color: #a52a2a;
    position: absolute;
    border-radius: 5px;
    transform: translate(0,-50%);
    transform-origin: bottom center;
}

.minute-hand {
    width: 8px;
    height: 200px;
    background-color: #333;
    position: absolute;
    border-radius: 8px;
    transform: translate(0,-50%);
    transform-origin: bottom center;
}

.hour-hand {
    width: 13px;
    height: 150px;
    background-color: #333;
    position: absolute;
    border-radius: 13px;
    transform: translate(0,-50%);
    transform-origin: bottom center;
}

.center {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    background-color: #a52a2a;
}

