* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    --center_x: -5px;
    --center_y: -12px;
    --raio: 270px;
    --sin60: 0.86602540
}

body {
    background-color: cornflowerblue;
}

main {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.clock  {
    min-width: 600px;
    min-height: 600px;
    background-color: #f0f8ff;
    border-radius: 300px;
    border: 15px groove #333;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pontos {
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
    padding-left: 5px;    
}

.ponto-1 {
    display: none;
}

.ponto-2 {
    transform: rotate(6deg);
}

.ponto-3 {
    transform: rotate(12deg);
}

.ponto-4 {
    transform: rotate(18deg);
}

.ponto-5 {
    transform: rotate(24deg);
}

.ponto-6 {
    display: none;
}

.ponto-7 {
    transform: rotate(36deg);
}

.ponto-8 {
    transform: rotate(42deg);
}

.ponto-9 {
    transform: rotate(48deg);
}

.ponto-10 {
    transform: rotate(54deg);
}

.ponto-11 {
    display: none;
}

.ponto-12 {
    transform: rotate(66deg);
}

.ponto-13 {
    transform: rotate(72deg);
}

.ponto-14 {
    transform: rotate(78deg);
}

.ponto-15 {
    transform: rotate(84deg);
}

.ponto-16 {
    display: none;
}

.ponto-17 {
    transform: rotate(96deg);
}

.ponto-18 {
    transform: rotate(102deg);
}

.ponto-19 {
    transform: rotate(108deg);
}

.ponto-20 {
    transform: rotate(114deg);
}

.ponto-21 {
    display: none;
}

.ponto-22 {
    transform: rotate(126deg);
}

.ponto-23 {
    transform: rotate(132deg);
}

.ponto-24 {
    transform: rotate(138deg);
}

.ponto-25 {
    transform: rotate(144deg);
}

.ponto-26 {
    display: none;
}

.ponto-27 {
    transform: rotate(156deg);
}

.ponto-28 {
    transform: rotate(162deg);
}

.ponto-29 {
    transform: rotate(168deg);
}

.ponto-30 {
    transform: rotate(174deg);
}

.ponto-31 {
    display: none;
}

.ponto-32 {
    transform: rotate(186deg);
}

.ponto-33 {
    transform: rotate(192deg);
}

.ponto-34 {
    transform: rotate(198deg);
}

.ponto-35 {
    transform: rotate(204deg);
}

.ponto-36 {
    display: none;
}

.ponto-37 {
    transform: rotate(216deg);
}

.ponto-38 {
    transform: rotate(222deg);
}

.ponto-39 {
    transform: rotate(228deg);
}

.ponto-40 {
    transform: rotate(234deg);
}

.ponto-41 {
    display: none;
}

.ponto-42 {
    transform: rotate(246deg);
}

.ponto-43 {
    transform: rotate(252deg);
}

.ponto-44 {
    transform: rotate(258deg);
}

.ponto-45 {
    transform: rotate(264deg);
}

.ponto-46 {
    display: none;
}

.ponto-47 {
    transform: rotate(276deg);
}

.ponto-48 {
    transform: rotate(282deg);
}

.ponto-49 {
    transform: rotate(288deg);
}

.ponto-50 {
    transform: rotate(294deg);
}

.ponto-51 {
    display: none;
}

.ponto-52 {
    transform: rotate(306deg);
}

.ponto-53 {
    transform: rotate(312deg);
}

.ponto-54 {
    transform: rotate(318deg);
}

.ponto-55 {
    transform: rotate(324deg);
}

.ponto-56 {
    display: none;
}

.ponto-57 {
    transform: rotate(336deg);
}

.ponto-58 {
    transform: rotate(342deg);
}

.ponto-59 {
    transform: rotate(348deg);
}

.ponto-60 {
    transform: rotate(354deg);
}



.number {
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    width: 0px;
    height: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;        
    
}

 .number-1 {
    transform: translate(calc(var(--center_x) + var(--raio) * 0.5),calc(var(--center_y) - var(--raio) * var(--sin60)));     
}

 .number-2 {
    transform: translate(calc(var(--center_x) + var(--raio) * var(--sin60)),calc(var(--center_y) - var(--raio) * 0.5)); 
}

.number-3 {
    transform: translate(calc(var(--center_x) + var(--raio) * 1),calc(var(--center_y) - var(--raio) * 0)); 
}

.number-4 {
    transform: translate(calc(var(--center_x) + var(--raio) * var(--sin60)),calc(var(--center_y) + var(--raio) * 0.5)); 
}

.number-5 {
    transform: translate(calc(var(--center_x) + var(--raio) * 0.5),calc(var(--center_y) + var(--raio) * var(--sin60))); 
}

.number-6 {
    transform: translate(calc(var(--center_x) + var(--raio) * 0),calc(var(--center_y) + var(--raio) * 1)); 
}

.number-7 {
    transform: translate(calc(var(--center_x) - var(--raio) * 0.5),calc(var(--center_y) + var(--raio) * var(--sin60))); 
}

.number-8 {
    transform: translate(calc(var(--center_x) - var(--raio) * var(--sin60)),calc(var(--center_y) + var(--raio) * 0.5)); 
}

.number-9 {
    transform: translate(calc(var(--center_x) - var(--raio) * 1),calc(var(--center_y) + var(--raio) * 0)); 
}

.number-10 {
    transform: translate(calc(var(--center_x) - var(--raio) * var(--sin60)),calc(var(--center_y) - var(--raio) * 0.5)); 
}

.number-11 {
    transform: translate(calc(var(--center_x) - var(--raio) * 0.5),calc(var(--center_y) - var(--raio) * var(--sin60))); 
} 

.number-12 {    
    transform: translate(calc(-5px + var(--center_x) + var(--raio) * 0),calc(var(--center_y) - var(--raio) * 1)); 
}

.second-hand {
    width: 5px;
    height: 265px;
    background-color: #a52a2a;
    position: absolute;
    border-radius: 2.5px;
    transform: translate(0,-50%);
    transform-origin: bottom center;
}

.minute-hand {
    width: 9px;
    height: 220px;
    background-color: #333;
    position: absolute;
    border-radius: 4.5px;
    transform: translate(0,-50%);
    transform-origin: bottom center;
    
}

.hour-hand {
    width: 12px;
    height: 165px;
    background-color: #333;
    position: absolute;
    border-radius: 6px;   
    transform: translate(0,-50%);
    transform-origin: bottom center;
}

.center {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    background-color: #a52a2a;
}

